<%- include('partials/head')%>

    <%- include('partials/navbar')%>

        <div id="home-page-background">
            <!-- <img src="/images/logo.jpg" id="logo" width="300vh alt=""> -->
            <div class="container">
                <div class="man"><img src="/images/man-hotdog.jpg"></div>
                <div class="intro-info">
                    <h2>
                        Sophisticated HotDog Detection.
                        <br>
                    </h2>
                        <h1><a href="#" id="upload-btn" class="btn btn-primary">Detect</a>
                    </h1>

                </div>
            </div>
        </div>

        <script>
            $(function () {
                function upload(file) {
                    var fr = new FileReader();

                    fr.onload = function (event) {
                        var src = event.target.result;
                        var img = new Image();

                        img.onload = function () {
                            // Post image to server
                            $.ajax({
                                url: '/upload',
                                type: 'POST',
                                data: {
                                    image: src
                                },
                                success: function (data) {
                                    alert(data);
                                },
                                error: function (err) {
                                    alert(error);
                                }
                            });
                        };
                        img.src = src;
                    };

                    fr.readAsDataURL(file);
                }

                $('#upload-btn').click(function () {
                    var fileInput = $("<input>", {
                        type: "file",
                        accept: "image/*"
                    });
                    fileInput.trigger('click');

                    fileInput.on('change', function (ev) {
                        upload(ev.target.files[0]);
                    });

                    return false;
                });
            });
        </script>

        <%- include('partials/footer')%>