<%- include('partials/head')%>

    <%- include('partials/navbar')%>


        <div id="home-page-background" style="font-family: ">
            <div class="container">
                <br><br>
                <div class="man"><img src="/images/man-hotdog.jpg"></div>
                <div class="intro-info">
                    <h2 style="font-weight:500;">Sophisticated HotDog Detection.</h2>
                    <h4 style="font-style: italic;">Building a Better Tomorrow</h4>

                    <br>
                    <a href="https://www.youtube.com/watch?v=sXwaRjU7Tj0" target="_blank" id="learn-more-btn">
                        <h4>Learn More ❯</h4>
                    </a>
                </div>
            </div>
            <div class="container-2 container-2a">
                <h2>What is a Hot Dog?</h2><br>
                <h4>A hot dog is a frankfurter, especially one served hot in a long, soft roll and topped with various
                    condiments.</h4>
            </div>

            <div class="container-2 container-2b ">
                <h2>We have the answer to your most profound question.
                   <br><br>
                    Hotdog?
                </h2>
                <br>
                <a href="#" id="upload-btn">
                    <span>
                        <h3>Upload</h3>
                    </span>
                </a>




                <span class="spinner-border spinner-border-sm hidden" id="spinner" role="status" aria-hidden="true"></span></a>


            </div>
            <!-- <div class="results" id="is-hotdog">
                <div class="results-info">
                    <h1>It is a Hot Dog!</h1>
                </div><img src="/images/man-hotdog.jpg">
            </div>

            <div class="results" id="not-hotdog">
                <div class="results-info">
                    <h1>It is NOT a Hot Dog!</h1>
                </div><img src="/images/man-hotdog.jpg">
            </div> -->
            <br><br >
        </div>


        </div>

        <script>
            $(function () {
                function upload(file) {
                    var fr = new FileReader();

                    $("#spinner").removeClass("hidden");

                    fr.onload = function (event) {
                        var src = event.target.result;
                        var img = new Image();

                        img.onload = function () {
                            // Post image to server
                            $.ajax({
                                url: '/upload',
                                type: 'POST',
                                data: {
                                    image: src
                                },
                                success: function (data) {
                                    alert(data);
                                    $("#spinner").addClass("hidden");
                                },
                                error: function (err) {
                                    alert(error);
                                    $("#spinner").addClass("hidden");
                                }
                            });
                        };
                        img.src = src;
                    };

                    fr.readAsDataURL(file);
                }

                $('#upload-btn').click(function () {
                    var fileInput = $("<input>", {
                        type: "file",
                        accept: "image/*"
                    });
                    fileInput.trigger('click');

                    fileInput.on('change', function (ev) {
                        upload(ev.target.files[0]);
                    });

                    return false;
                });
            });
        </script>

        <%- include('partials/footer')%>